In [84]:
import pandas as pd
import numpy as np
import re

In [13]:
#df = pd.read_excel('test.xls')
xls = pd.ExcelFile('test.xls')

In [100]:

#get the needed data sheets in the excel file
sheet_names_ls = xls.sheet_names
not_useful_str_ls = ['Titles',"Sheet"]
needed_sheets_ls = list(filter(lambda x: re.search('Scan', x) or re.search('Survey', x) , sheet_names_ls))
needed_sheets_ls
# if search(substring, fullstring):
#     print "Found!"
# else:
#     print "Not found!"

['O1s Scan', 'C1s Scan', 'XPS Survey']

In [101]:
#define raw as my new empty dataframe
raw = pd.DataFrame()
raw_dict = {}
#got an empty dictionary to store my XPS data

In [102]:
#This reads all the sheets in my dictionary
for key in needed_sheets_ls:
    raw_dict[key] = pd.read_excel('test.xls',sheet_name = key)

In [104]:
raw_dict[needed_sheets_ls[0]].head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Acquisition Parameters :,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Experiment Descriptions :
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Parameter,,NaN,NaN,NaN,20210326\Mono 500祄\C60
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total acquisition time,50.2 secs,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Number of Scans,5,NaN,NaN,NaN,NaN
4,﻿,NaN,NaN,NaN,NaN,NaN,NaN,Source Gun Type,Al K Alpha,NaN,NaN,NaN,NaN

In [119]:
#Now each sheet_df will be processed 

#want to get the data name 1st
raw_data_name = df.iloc[1]['Experiment Descriptions :']
sample_name = re.sub('\d*\\\\\w*\s\d*祄\\\\','',raw_data_name)

#create a new column in the dataframe for the grouping later (call this column the sample name)
df = raw_dict[needed_sheets_ls[0]].head()

In [ ]:
#need to update the dictionary raw_dict with processed data values

#Append all processed data in to one pandas dataframe

#Group data frame by sample name and then each element